<%= provide(:title, 'Help')%>
    <h1>With A Little Help From My Friends</h1>
    <blockquote>What would you think if I sang out of tune,<br>
    Would you stand up and walk out on me.<br>
    Lend me your ears and I'll sing you a song,<br>
    And I'll try not to sing out of key.<br>
    Oh I get by with a little help from my friends,<br>
    Mmm,I get high with a little help from my friends,<br>
    Mmm, I'm gonna try with a little help from my friends.</blockquote>