<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
    	<%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
    	<div class="span8">
    		<h3>Micropost Feed</h3>
    		<%= render partial: 'shared/feed' %>
  		</div>
  </aside>
</div>