<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    <textarea id="micropost_content_amount">140 characters to go</textarea>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>